.exp{

    margin-top: 3rem;
    height: auto;

    h2{
        font-size: 1.25rem;
        color: white;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px){
    .exp{
        margin-top: 2rem;
    }
}