.screen{
  width: 45%;
  min-height: 100vh;  
  scroll-behavior: smooth ;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  margin-left: 50%;
  transform: translateX(-50%);
  scroll-margin-top: 1rem;
  overflow-x: hidden;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
.screen{
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-left: 0;
  transform: translateX(0);
}
}